@import './../../../assets/scss/variables';

.section-header{
    font-size: 1.3rem;
    font-family: $font-primary;
    color: $section-header-color
}

.btn-seech{
    background-color: $primary;
    font-family: $font-bold;
    width: 100%;
    color: white;
}

.input-error{
    border-color: red;
}